.color-072AC8 {
    background-color: #072AC8;
  }
  .color-43D2FF {
    background-color: #43D2FF;
  }
  .color-A2D6F9 {
    background-color: #A2D6F9;
  }
  .color-D1EDFF {
    background-color: #D1EDFF;
  }
  .color-292E47 {
    background-color: #292E47;
  }
  .color-68708D {
    background-color: #68708D;
  }
  .color-F2F4FC {
    background-color: #F2F4FC;
  }
  .color-ECF7FF {
    background-color: #ECF7FF;
  }
  .color-FFC600 {
    background-color: #FFC600;
  }