@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Use the imported font */
  color: #6B708D;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F4FC;
  -webkit-font-smoothing: antialiased;
}

/* 1. Use a more-intuitive box-sizing model */

  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }  
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Color Styles */

  
/* ---------------------- Text Styles */
/* Heading Styles */
h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1.87rem; /*30/16=1.87*/
  color: #292E47;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: #292E47;
  padding-top: 200px;
  padding-bottom: 70px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #292E47;
}

/* Body Intro Text Styles */
.body-intro-text-24 {
  font-size: 24px;
  font-weight: 500;
}

.body-intro-text-20 {
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  color: #6B708D;
  padding-bottom: 2.5rem;
}

/* Headline Text Styles */
.headline-text-17 {
  font-size: 17px;
  font-weight: regular;
}

.headline-text-17-medium {
  font-size: 17px;
  font-weight: 500;
}

/* Caption Text Styles */
.caption-1-text-15 {
  font-size: 15px;
  font-weight: regular;
}

.caption-2-text-13 {
  font-size: 13px;
  font-weight: regular;
}
  
/* ---------------------- Barra de navegación */
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4.37rem 2rem 1rem 2rem;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 2rem 1rem;
      gap: 2vh;
    }
    
  }

  .navbar .logo {
    margin: 0;
  }
  
  .nav-links {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
    font-size: 17px;
  font-weight: 500;
  }

  .nav-links a:hover {
    color: #072AC8; /* Cambia el color a azul al pasar el mouse */
}
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
  }
  
  a.btn {
    text-decoration: none;
    background-color: #072AC8;
    color: #fff;
    padding: 14px 24px;
    border: none;
    text-align: center;
  }

  @media (max-width: 768px) {
    a.btn {
      width: 30dvw;
      height: 29px;
      padding: 4px;
    }
  }

  .cta {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
  }

/* ---------------------- Contiainer (always 1100 width) 
deberia crear un container standard?
*/
.container {
  max-width: 1100px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  }

/* Para pantallas más pequeñas */
@media (max-width: 1100px) {
  .container {
    margin: 0 auto;
    padding: 0 20px; /* Espacio reducido en pantallas más pequeñas */
  }
}

  
/* ---------------------- Hero section */
.hero {
  max-width: 1100px;
  display: flex;
  margin: 100px auto 130px auto;
  padding: 0 1rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .hero {
    margin: 10px auto 80px auto;
  }
}

.hero .content {
  max-width: 50%;
  color: #fff;
}

.hero-img {
  position: relative;
  width: 40%;
  background-image: url('../hero-section/hero-image.png');
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

.card-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 216px;
  height: auto;
}

.card-2 {
  position: absolute;
  bottom: -82px;
  right: -13px;
  width: 216px;
  height: auto;
}

.btn-container {
  display: flex;
  align-items: center;
  height: 52px;
  gap: 1.5rem;
}

.btn-container a.btn {
  height: 100%;
  width: 150px;
}

@media (max-width: 768px) {
  .btn-container a.btn {
    width: 30dvw;
    height: 29px;
    padding: 4px;
  }
}

/* ---------------------- Client Section */

/*para mobile flex-wrap: wrap*/
.client-logos {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 1rem; 
  gap: 2rem;
}

@media (max-width: 600px) {
  .client-logos {
    flex-wrap: wrap; /* Enable wrapping on smaller screens */
    justify-content: center; /* Center items when wrapped */
  }
}

.client-logos img {
  max-width: 100px; 
  height: auto; 
  filter: grayscale(100%);
}

.client-logos img:hover {
  filter: grayscale(0%); /* Shows the original color on hover */
  transition: filter 0.5s ease-in-out;
}

/* ---------------------- Project section */


.project-cards{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 30px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .project-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambia el tamaño mínimo */
  }

  h3 {
    padding-top: 6vh;
    padding-bottom: 2vh;
  }

  .hero-img {
    display: none;
  }

  .hero .content {
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  .top-card {
    flex-direction: column;
    align-items: center;
  }

  .bottom-card {
    flex-direction: column;
    align-items: center;
  }

  .btn-container {
    justify-content: center;
    gap: 1.5rem;
  }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .project-cards {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  h3 {
    padding-top: 4vh;
    padding-bottom: 2vh;
  }
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  flex: 1;
}

.child img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  flex: 1;
}



.project-card {
  display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      overflow: hidden;
}

@media screen (max-width: 768px) {
  .project-card {
    flex-direction: column;
    align-items: center;
  }
  
}

.project-card p {
  padding-left: 1.87rem;
  font-size: 17px;
}

.project-card h4 {
  padding-left: 1.87rem;
  font-size: 24px;
  font-weight: 500;
}

.project-card .cta {
  padding: 1.87rem;
  margin-top: 54px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 400;
  color: #072AC8;
  text-decoration: none;
}

@media (max-width: 768px) {
  .project-card .cta {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

.Projects .container {
  margin-bottom: 200px;
  }


/* ---------------------- Testimonial section */
.container-testimonials {
  background-color: #292E47;
  background-image: url('../testimonial-section/orbit.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1320px;
  margin: 0px auto;
}

.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.87rem;
}

.middle-card {
  display: flex;
  justify-content: center;
  padding: 1.87rem;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.87rem;
}

.contact-card {
  display: flex;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonials .contact-info p {
  padding: 0;
  color: #F4F6FC;
  font-size: 17px;
  font-weight: 400;
  padding-left: 0.5rem;
}

.testimonials img {
  max-width: 150px;
  height: auto;
  padding: 0.2rem;
}

@media (max-width: 768px) {
  .testimonials img {
    display: none;
  }
}

.contact-card img {
  width: 50px;
  height: 50px;
  margin: 0px;
  border-radius: 50%;
}

.testimonials h3 {
  color: #fff;
  padding: 0;
  text-align: center;
}

.testimonials p {
  color: #FFC600 ;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 1.87rem;
  text-align: center;
  padding: 0;
}


/* ---------------------- Services section */

.service-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.5rem 1.5rem 1.87rem 1.5rem;
  background-color: #fff;
  max-width: 340px;
}

.service-card p {
  padding-bottom: 1.5rem;
  font-size: 20px;
  font-weight: regular;
}

.service-card img {
  max-width: 40px;
  max-height: 40px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #ECF7FF ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMore {
  font-size: 17px;
  font-weight: 400;
  color: #072AC8;
  text-decoration: none;
}

/* ---------------------- CTA section */

.ctaForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 137px;
  margin-bottom: 170px;
  background-color: #FFC600;
}

.ctaSection h3 {
  padding-top: 136px;
  padding-bottom: 20px;
  text-align: center;
}

.ctaSection p {
  padding-bottom: 50px;
  color: #292E47;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.ctaBtn {
  padding-bottom: 137px;
  position: relative; /* Necesario para el pseudo-elemento */
}

.email-input {
  width: 393px;
  height: 80px;
  border: 1px solid #ffffff;
  padding: 0 16px; /* Espacio para el texto */
  font-size: 17px;
  font-weight: 500;
  color: #292E47;
  margin-right: 20px;
  position: relative; /* Necesario para el pseudo-elemento */
  background-image: url(/newsletter/icon/mail.svg); /* Ruta de la imagen */
  background-size: 30px 30px; /* Tamaño de la imagen */
  background-repeat: no-repeat; /* No repetir la imagen */
  text-indent: 40px;
  background-position: center left 15px; /* Posición de la imagen */
}

input::placeholder {
  color: #292E47; /* Color del texto del placeholder */
  font-weight: 400; /* Grosor del texto del placeholder */
  font-size: 17px; /* Tamaño de fuente */
}

.subscribe-button {
  width: 198px;
  height: 80px;
  background-color: #072AC8;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ctaForm {
    padding: 0 1rem;
  }

  .ctaSection h3 {
    padding-top: 6vh;
    padding-bottom: 2vh;
  }

  .ctaSection p {
    padding-bottom: 4vh;
  }

  .ctaBtn {
    padding-bottom: 6vh;
  }

  .email-input {
    width: 100%;
    margin-bottom: 2vh;
    height: 7vh;
  }

  .subscribe-button {
    width: 100%;
    height: 7vh;
  }
}
/* ---------------------- Footer section */

.footer {
  background-color: #292E47;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

/* ---------------------- Media Queries */



/* ---------------------- Contact forms */



/* Contact Form Styles */
.contact-form {

}

.contact-form h1 {
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 40px;
  background-color: rgba(10,11, 14, 0.1);
  border: none;
}

.form-input {
  color: #6B708D;
  font-size: 17px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  width: 100%;
  height: 80px;
  background-color: #072AC8;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.contact-form p {
  font-size: 20px;
  line-height: 150%;
  color: #6B708D;
  margin-bottom: 9.74px;

}

/* Footer Styles */
.footer-section {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.content-footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .content-footer {
    align-items: center;
}
}


.logo {
  max-width: 98.38px;
  margin-bottom: 30px;
}

.address {
  font-size: 14px;
  color: #666;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .links {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .address {
    text-align: center;
    margin-bottom: 30px;
  }

  .logo {
    margin-bottom: 10px;
  }
}

.links-row1,
.links-row2 {
  display: flex;
  justify-content: flex-end;
}

.links-row1 a,
.links-row2 a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.links-row1 a:hover,
.links-row2 a:hover {
  color: #000;
}

/* ---------------------- Projects */

.projectSimple h1{
 margin-top: 100px;
}

.projectSimple-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 80px;
}

.completed-text {
    color: #292E47;
}

@media (max-width: 768px) {
  .projectSimple-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem
  }
  
}

.projectSimple img{
  width: 100%;
  height: auto;
  max-height: 444px;
  object-fit: cover;
  margin-bottom: 70px;
}

.projectSimple p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}